body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: center;
    background-image: url(backgrnd.webp);

}

header {
    background-image: url(backgrnd.webp);
    color: white;
    padding: 15px ;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    color: white;
}
nav ul a:hover{
    color: yellow;
}

main {
    padding: 15px;
}

article {
    margin-bottom: 30px;
}

figure {
    margin-bottom: 15px;
}

figcaption {
    font-style: italic;
}

footer {
    background-image: url(backgrnd.webp);
    color:white;
    padding: 15px 0;
}

footer a {
    color: ;
    text-decoration: none;
}


article:nth-child(even) {
    background-image: url(backgrnd.webp);
    padding: 15px;
    border-radius: 4px;
}

section:hover {
    transform: scale(1.1);
}

footer {
    position: relative;
}

footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    background-image: url(backgrnd.webp);
}